{% extends "base.html" %}

{% block content %}

{% load endless %} 
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>User Name</th>
        <th>Last Login</th>
      </tr>
    </thead>
    <tbody>
{% paginate object_list %}	
{% for object in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ object.user }}</td>
      
      <td> {{ object.time }} </a></td>
         
      </tr>
      {% endfor %}
      
      
        </tbody>
  </table>

{% show_pages %}
{% endblock %}
